<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  <title>{{ title }}</title>
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/other">Other</a>
  </nav>
  <h1>Hellooooooooooooo</h1>
  <table>
    <thead>
      <tr>
        <th>Fruit</th>
        <th>Language</th>
        <th>Artist</th>
      </tr>
    </thead>
    <tbody>
      {% if jinj_list %}
        {% for item in jinj_list %}
          <tr>
            <td>{{ item['favorite_fruit'] }}</td>
            <td>{{ item['favorite_language'] }}</td>
            <td>{{ item['favorite_artist'] }}</td>
          </tr>
        {% endfor %}
      {% endif %}
    </tbody>
  </table>
</body>
</html>