<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <nav>
    <a href="/">Home</a>
    <a href="/other">Other</a>
  </nav>
  <h1>Other!</h1>
  <form action="/process_form" method="post">
    Favorite Artist:<input type="text" name="favorite_artist" placeholder="Vanilla Ice">
    Favorite Fruit:<input type="text" name="favorite_fruit" placeholder="Mango">
    <input type="submit" value="Process!">
  </form>
</body>
</html>